<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/gp_2.css">
</head>
<body>
    {% include 'header.html' %} <!-- https://stackoverflow.com/questions/8988855/include-another-html-file-in-a-html-file -->
    <div class="login-wrap">
        <div class="login">
            <div class="avatar"></div>
            <span class="user">TEMPSG</span>
            <hr class = "line">
            <span class="small-text">New User please indicate "N"</span>
            <form id="login" class="login-form" action="/gp_2" method="post">
                <input type="text" name="user_id" placeholder="User_id" class="pass"/>
                <span class="arrow">&rarr;</span>
            </form>
        </div>
    </div>
</body>
</html>
